[build-system]
requires = ["setuptools>=64.0", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[project]
name = "shelloracle"
dynamic = ["version"]
dependencies = [
    "httpx",
    "prompt-toolkit",
    "tomlkit"
]
authors = [
    { name = "Daniel Copley", email = "djcopley@users.noreply.github.com" },
]
description = """ShellOracle is a pluggable terminal utility that takes a natural language description of a \
command and substitutes it into your terminal buffer."""

readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: MacOS",
]

[tool.setuptools]
packages = ["shelloracle", "shelloracle.config", "shelloracle.providers"]

[tool.setuptools_scm]

[project.scripts]
shor = "shelloracle.shelloracle:cli"

[project.urls]
Homepage = "https://github.com/djcopley/ShellOracle"
Repository = "https://github.com/djcopley/ShellOracle.git"
Issues = "https://github.com/djcopley/ShellOracle/issues"
